* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: #0c325a;
}

#logo {
  height: 70px;
  padding: 10px 30px 10px 0;
  float: left;
}
#logo img {
  height: 100%;
}

nav {
  height: 120px;
  padding-top: 20px;
}
nav .nav_left {
  float: left;
}
nav .nav_right {
  float: right;
}

ul li {
  display: inline-block;
  font-size: 11px;
  margin: 10px;
}
ul li a, .banner_content a {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
.nav_left a:hover, .nav_right a:not(.button):hover {
  color: #7cbb02;
}

.button {
  color: white;
  text-align: center;
  border-radius: 5px;
  background-color: #7cbb02;
  cursor: pointer;
}
.btn_login {
  border: 1px solid white;
  padding: 10px 30px;
  background-color: inherit;
}
.btn_small {
  padding: 10px;
}
.btn_big {
  font-size: 15px;
  padding: 20px 20px;
}

.banner {
  width: 100%;
  height: 400px;
  background-color: #0c325a;
  background-image: url('../img/background-header.png');
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
  position: relative;
}
.banner_content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
.banner h1 {
  font-size: 40px;
  width: 60%;
  color: white;
  margin-bottom: 40px;
}

section .under_banner {
  width: 100%;
  padding: 40px 0;
  background-color: #d3d3d3;
  text-align: center;
}

.under_banner p, .content p, .under_right p {
  color: #808080;
  font-weight: 500;
  padding-top: 20px;
}

.content .left, .content .middle, .content .right {
  width: 33.33%;
  text-align: center;
  padding: 0 20px;
  float: left;
}
.content .image img{
  height: 200px;
  margin-top: 50px;
}
.content h3 {
  font-size: 20px;
  color: #7cbb02;
  margin: 20px;
}
.content hr {
  display: inline-block;
  width: 20%;
  border-top: 1px solid #808080;
}
.content p {
  margin-bottom: 50px;
}

main > hr {
  display: inline-block;
  width: 96%;
  border-top: 1px solid #d3d3d3;
  margin-left: 2%;
}

.under_content .under_left, .under_content .under_right {
  width: 50%;
  padding: 50px 100px;
  float: left;
}
.under_left img {
  width: 100%;
}
.under_right h5 {
  padding-top: 20px;
}
.under_right h5 a {
  color: #5687bd;
}
